<!DOCTYPE html>
<html lang="en">

<head>
    <title>Matkaklubi - registreerumine</title>
    <%- include("../partials/pais.ejs") %>
</head>
<body>
<div class="container">
    <div class="row pt-1">
        <div class="col-md-5 d-flex">
            <img class="paisLogo" src="/assets/klubilogo.png" alt="">
            <div class="paisNimi">
                MATKA KLUBI
            </div>
        </div>
        <div class="col-md-7 pais-menyy">
            <%- include("../partials/menyy.ejs") %>
        </div>

    </div>
    <h1>Registreeru matkale <%= matk.nimetus %> </h1>
    <img class="registreerumine-pilt" src="<%= matk.pildiUrl %>" alt="">
    <p>
        <%= matk.kirjeldus %>
    </p>
    <div class="row">
        <form action="#">
            <div class="form-group">
                <label for="nimi">Sinu nimi:</label>
                <input type="text" class="form-control" id="nimi" name="nimi">
            </div>
            <div class="form-group">
                <label for="email">Sinu email:</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="markus">Märkus:</label>
                <textarea class="form-control" name="markus" id="markus" cols="30" rows="5"></textarea>
            </div>
            <button onclick="" class="btn btn-default">Saada</button>
        </form>
    </div>  
</div>
</body>

</html>