<!DOCTYPE html>
<html lang="en">

<head>
    <title>Matkaklubi - uudis</title>
    <%- include("../partials/pais.ejs") %>
</head>
<body>
<div class="container">
    <div class="row pt-1">
        <div class="col-md-5 d-flex">
            <img class="paisLogo" src="assets/klubilogo.png" alt="">
            <div class="paisNimi">
                MATKA KLUBI
            </div>
        </div>
        <div class="col-md-7 pais-menyy">
            <%- include("../partials/menyy.ejs") %>
        </div>

    </div>
    <h2>Matkaklubi uudised</h2>
    <div class="row">
        <% for (let i = 0; i < uudised.length; i++ ) { %>
            <div class="col-md-4 uudis">
                <img src="<%= uudised[i].pildiUrl %>" alt="">
                <h3 class="uudis-pealkiri">
                    <%= uudised[i].pealkiri %>
                </h3>
                <div class="uudis-sisu">
                    <%- uudised[i].kokkuvote %>
                </div>
                <div>
                    <a class="button" href="/uudis/<%= i %>">Loe edasi ...</a>
                </div>
            </div>
        <% } %>
    </div>  
</div>
</body>

</html>